html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}


.wrap > .container {
    padding: 70px 15px 20px;
}

.header{
    background:url('../assets/img/header_bg_1.jpg') repeat-x;;
    height: 148px; text-align: center; padding-top: 25px;
    position: fixed;
    z-index: 1999;
    width:100%;
}

.header2{
    background:url('../assets/img/header_bg_1.jpg') repeat-x;;
    height: 148px; text-align: left;
    position: fixed;
    z-index: 1999;
    width:100%;
}


footer {
    height: 125px;
    padding-left: 0;
    padding-right: 0;
    margin:0 auto 0;
    background: url('../assets/img/footer_bg.jpg') repeat-x ;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    min-height: 37px !important;
    border:0;
    background-color: #ffffff;
}

.navbar .navbar-nav li a {
    color: #2bafec;
    padding: 0 40px 0;
    line-height: 37px;
}

.navbar-nav li.first-menu {
    border-right: 1px solid #CCC;
}
.navbar-nav li.inner-menu {
    border-right: 1px solid #CCC;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -125px;
    padding: 148px 0 125px;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.pull-left {
    float: left !important;
}

h1 {
    color: #a3a3a3;
    font-family: BookAntiquaNormal;
    padding: 10px 0;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #363636;
    font-size: 28px;
    text-align: center;
}

h2 {
    color: #a3a3a3;
    font-family: BookAntiquaNormal;
    padding: 10px 0;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #363636;
}

h3 {
    color: #a3a3a3;
    font-family: BookAntiquaNormal;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 24px;
}

.partner-item-vertical {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #363636;
}

.partner-item-vertical h3 a {
    color: #2bafec;
    text-decoration: none;
    font-size: 16px;
}

.contact-block h3 {
    color: #4a4a4a;
    margin: 0;
    line-height: 40px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}